.site {
    /* max-width: var(--layout-main-width);
    margin: 0 auto; */
    /* padding: 0.5em; */
}

/* .site-header{
    display: flex;
}

.site-header nav{
    margin-left: auto;
} */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.main-header>h1 {
    margin: 0em 0.2em;
}

.main-header-slogans{
    display: flex;
}

.main-header-slogans>h6{
    margin: 0em 0.2em;
    padding: 0em 1em;
    max-width: 15em;
    /* border-bottom: 2px solid var(--color-elements); */
    /* border: 2px solid red; */
}

.main-heading-additional {
    display: flex;
    align-items: center;
    /* TRY WITHOUT ALIGN ITEMS */
}

.main-heading-additional>span {
    color: var( --color-elements);
    font-size: 6em;
    margin: 0em 0em 0em 0.2em;
    /* margin: 0em -0.1em 0em 0.2em; */
}

h6 > span{
    color: var(--color-elements);
}