.site{
    /* max-width: var(--layout-main-width);
    margin: 0 auto; */
    /* padding: 0.5em; */
}

/* .site-header{
    display: flex;
}

.site-header nav{
    margin-left: auto;
} */
header > h1{
    margin: 0em 0.2em;
}

.main-heading-additional{
    display: flex;
    align-items: center;
    /* TRY WITHOUT ALIGN ITEMS */
}

.main-heading-additional > span{
    color: var( --color-elements);
    font-size: 6em;
    margin: 0em 0em 0em 0.2em;
    /* margin: 0em -0.1em 0em 0.2em; */


}

