:root{
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;
    --font-size-header: 1.5em;
    --layout-main-width: 70em;

    --color-elements: #00FF00; 
    --color-body-background: #000;
    --color-body-text: #fff;    
    --color-link-default: #fff;
    --color-border-default: #999;

    --spacing-layout-elements: 2em;
    --transition-color-options: color 0.15s ease-in-out;
}