<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div class="site">
        <header class="site-header">
            <h1 class="site-title">
                <a href="/">{{site.title}}</a>
            </h1>
            <nav class="site-nav">
                <ul>
                    {% for page in site.pages %}
                        {% if page.title %}
                            <li>
                                <a href="{{ page.url }}">{{page.title}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main class="site-main">
            {{content}}
        </main>
        <aside class="site-sidebar">

        </aside>
        <footer class="site-footer">
            <p>All rights reserved &copy; lordviet</p>
        </footer>
    </div>

</body>

</html>