.blog-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1.5em 0em;
}

.post-content {
    flex: 0 0 30%;
    margin: 1em;
    border: 2px solid #fff;
    transition: all 0.2s ease-in-out;
}

.post-content:hover {
    color: #000;
    border: 2px solid var(--color-elements);
    background-color: var(--color-elements);
    transition: all 0.2s ease-in-out;
}

.post-content>li {
    margin: 1em;
    list-style: none outside;
    text-align: center;
}

.post-title {
    font-size: 1.2em;
}